<div class="container pt-4">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Agregar Empleado</h3>
                    <span *ngIf="submitted && createEmployee.invalid" class="badge bg-danger mb-3">** Todos los campos son obligatorios</span>
                    <form [formGroup]="createEmployee" (ngSubmit)="addEmployee()">
                        <div class="row">
                            <div class="col">
                                <div class="input-group input-group-lg mb-3">
                                    <span class="input-group-text" id="basic-addon1">@</span>
                                    <input type="text" class="form-control" 
                                        formControlName="name"
                                        placeholder="Nombre" aria-label="Nombre"
                                        aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group input-group-lg mb-3">
                                    <span class="input-group-text" id="basic-addon1">@</span>
                                    <input type="text" class="form-control" 
                                        formControlName="last_name"
                                        placeholder="Apellido" aria-label="Apellido"
                                        aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text" id="basic-addon1">#</span>
                            <input type="text" class="form-control" 
                                formControlName="document"
                                placeholder="Documento" id="document" aria-label="Documento" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text" id="basic-addon1">$</span>
                            <input type="number" class="form-control" 
                                formControlName="salary"
                                placeholder="Salario" aria-label="Salario" aria-describedby="basic-addon1">
                            <span class="input-group-text">.00</span>
                        </div>
                        <div class="mt-3">
                            <button type="text" class="btn btn-secondary btn-lg me-3" 
                                routerLink="/list-empleados">Volver</button>
                            <button type="submit" class="btn btn-success btn-lg">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>