<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de Empleados</span>
            <button class="btn btn-primary btn-lg float-end" routerLink="/create-empleado" routerLinkActive="active">Agregar</button>
            <table class="table mt-5 table-striped">
                <thead class="table-info">
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Documento</th>
                        <th>Salario</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Melanie</td>
                        <td>Ruiz</td>
                        <td>33335555</td>
                        <td>$250000</td>
                        <td>
                            <i class="fa-solid fa-pen-to-square fa-xl text-info me-3"></i>
                            <i class="fa-solid fa-trash-can fa-xl text-danger"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Melanie</td>
                        <td>Ruiz</td>
                        <td>33335555</td>
                        <td>$250000</td>
                        <td>
                            <i class="fa-solid fa-pen-to-square fa-xl text-info me-3"></i>
                            <i class="fa-solid fa-trash-can fa-xl text-danger"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Melanie</td>
                        <td>Ruiz</td>
                        <td>33335555</td>
                        <td>$250000</td>
                        <td>
                            <i class="fa-solid fa-pen-to-square fa-xl text-info me-3"></i>
                            <i class="fa-solid fa-trash-can fa-xl text-danger"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ul>
                <li class="text" *ngFor="let item of items | async">
                    {{item.name}}
                </li>
            </ul>
        </div>
    </div>
</div>
